body{
    margin: 0;
    background: black;
}

table{
    border-collapse: collapse;  
    border: solid 1px black;
    width: 100%;
}

th{
    border: solid 1px black;
}

td{
    border: solid 1px black;
}

.table-1{
 
}

.table-2{

}

.table-3{
    
}


