<html>
  <head>
    <title>HomeWork</title>
  </head>
  
  <body>
     javaScript
  </body>

  <script>

    // let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // console.log(album);

    // album.push("1");      //2. Добавить новое имя в конец
    // album.unshift("2");   //3. -------------------в начало
    // console.log(album);


    // let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // album.pop();                           //удалить последний элемент
    // console.log(album);


    // let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // album.shift();                        //удалить первый элемент
    // console.log(album);
   

    // let album = ["The Doors", "Jim", "Morisson","Strange Days", "1967"];
    // let lenOfList = album.length;
    // console.log(lenOfList);
  

    let num = [12,9,8,3];
  
    for(let i=0;i%3==0;i++){
      if (i%3==0);
      console.log(i);
    }
    console.log(i);
    
//6. Вывести значения в консоль при помощи изученных циклов, используя в том числе условия

  </script>
</html>