<html>
  <head>
    <title>HomeWork</title>
  </head>
  
  <body>
     javaScript
  </body>

  <script>

    // let Album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // console.log(Album);

    // Album.push("1"); //2. Добавить новое имя в конец
    // Album.unshift("2");   //3. -------------------в начало
    // console.log(Album);

    // let Album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // Album.pop();  //удалить последний элемент
    // console.log(Album);

    // let Album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // Album.shift();    //удалить первый элемент
    // console.log(Album);
   
    // let Album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    // let lenOlList = 5;
    // console.log(lenOlList);

    // let cats = ['puma','tiger','leopard','leo'];
    // for (let i=0; i<cats.lenght; i++){
    //   console.log(cats[i])
    // }

    



//6. Вывести значения в консоль при помощи изученных циклов, используя в том числе условия

  </script>
</html>