<!DOCTYPE html>

<html>
  <head>
    <title>HW15_10</title>
  </head>

  <body>
    <input tape="number" name="numberInputField" id="numberInput1" />
    <input tape="number" name="numberInputField" id="numberInput2" />
    <button onclick="getSum()">Показать сумму чисел</button>
   
  </body>

  <script>
    function getSum() {
      const num1 = document.getElementById('numberInput1').value;
      const num2 = document.getElementById('numberInput2').value;
      const result = parseInt(num1) + parseInt(num2);
      
      alert(result);
    }


  </script>
</html>
