<html>
  <head>
    <title>HomeWork_03_10</title>
  </head>
  
  <body>
     javaScript
  </body>

  <script>




// 1. Написать стрелочные функции для математических операций
// 2. Вызвать их для чисел, переданных в параметрах функции
// 3. Определить массив, состоящий из массивов с информацией о машине
// 4. Написать функцию, которая выводит информацию обо всех машинах

// [
// 	["bmw", "320i", 2020],
// 	["audi", "a6", 2022],
// 	["bmw", "320d", 2021]
// ]

// Пример вывода:
// 1 машина:
// марка - 
// модель - 
// год выпуска - 

// 2 машина:
// ----==----


</script>
</html>