<!DOCTYPE html>

<html>
  <head>
    <title>HW2210</title>
    <style>
    
    </style>
  </head>

  <body>
   
    <label for="email">Почта:</label>
    <input type="email"  name="email" id="email" required>
    

  </body>

  <script>

// function showText(message) {
//     console.log (`Вы оставили сообщение: ${message}`);

//     if (message.length < 4){
//         console.log("Все ОК")
//     } else {
//         throw new Error ("В вашем сообщении больше 4 символов")
//     }
// }
// showText ("Приехали!");

    // document.getElementById('email').addEventListener('click',()=>{       // со стрелочной функцией
    //       alert('Введите почту');
    // })

  


// 2. Создайте кнопку
// при помощи addEventListener повесьте на нее 3 любых события (1 - стрелочной функцией)
// удалите любые два события
    

  </script>
</html>

