<!DOCTYPE html>

<html>
    <head>
        <title>Events</title>
    </head>

    <body>
        

    </body>

    <script>
       /* 
        try{
            ...     // код с ошибкой
            ...
            ...
        }

        catch (error){
            ...     //код, обрабатывающий ошибку
            ...
            ...
        }

        finally{
            ...     //код, который будет выполнен в любом случае
            ...
            ...
        }

        try..catch
        try..finally
        try..catch..finally
    */
/*
    function callSomeFunc(){
        console.log("Функция callSomeFunc")
    }
*/
/*
    try {
        callSomeFunc();
        console.log("Конец блока try")
        // ..... не выполнится
    }
    catch(error) {
        console.log('Возникла ошибка')
        console.log(error)
    }
    finally {
        console.log('Блок finally')     //выполняется в любом случае возникла ошибка или нет
    }

    console.log("Остальной код")
*/

 function checkAge(age){
    if (age >18){
        console.log("Access approved")
    } else {
        throw new Error ("Access denied!!!")
        //throw "Access denied!!!"
    }
 }

 try {
    checkAge(17);
 }
 catch(error){
    //console.log(error)
    console.error("Ошибка", error)
 }

//  checkAge(22)
//  checkAge(17)
        


    </script>
</html>


