<!DOCTYPE html>

<html>
  <head>
    <title>HW2210</title>
    <style>
      .header {color: blue;}
    </style>
  </head>

  <body>

    <h1 class="header" id="header">Как вас зовут?</h1>

    <input type="text" id="username" placeholder="Введите имя">
    <button id="showValueBtn">Ваше имя</button>

  </body>

  <script>


    // function showText(message) {
    //     console.log (`Вы оставили сообщение: ${message}`);

    //     if (message.length < 4){
    //         console.log("Все ОК")
    //     } else {
    //         throw new Error ("В вашем сообщении больше 4 символов")
    //     }
    // }
    // showText ("Приехали!");

    document.getElementById('username').addEventListener('click',()=>{       // со стрелочной функцией
        alert('Введите ваше имя');
    })  

    document.getElementById('showValueBtn').addEventListener('click', function(){
            document.getElementById('header').textContent = 'Добро пожаловать!';
        });

      

  </script>
</html>

