<html>
  <head>
    <title>HomeWork</title>
  </head>
  
  <body>
     javaScript
  </body>

  <script>

    let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    console.log(album);

    album.push("1");      //2. Добавить новое имя в конец
    album.unshift("2");   //3. -------------------в начало
    console.log(album);


    let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    album.pop();                           //удалить последний элемент
    console.log(album);


    let album = ["The Doors", "Jim", "Morisson","Strange Days", 1967];
    album.shift();                        //удалить первый элемент
    console.log(album);
   

    let album = ["The Doors", "Jim", "Morisson","Strange Days", "1967"];
    let lenOfList = album.length;
    console.log(lenOfList);
  

    
    
//6. Вывести значения в консоль при помощи изученных циклов, используя в том числе условия

  </script>
</html>